<div class="read">
  <h3><app-etytooltip [word]="'astrology'"></app-etytooltip>: Patterns of Survival</h3>
 
  &nbsp;&nbsp;&nbsp;&nbsp;The original humans were hunters and gatherers. Our ancestors were thrown into this world required to find their own way. Since 
  <app-etytooltip [word]="'homo-sapiens'"></app-etytooltip>
  were endowed with a capacity for pattern 
  <app-etytooltip [word]="'recognition'"></app-etytooltip>, they were able to look to the stars and read the manual for earth written in the sky. They noticed changes in the sky day to day, month to month, correlated with events on the ground. The great migrations of animals, the changing of the seasons, and the flourishing of edible plans were found to be related to the positions of the sun and stars. The humans who were more 
  <app-etytooltip [word]="'genetically'"></app-etytooltip> 
  predisposed to recognize these patterns lived longer and were more likely to pass their genes on to the next generation. That's called 
  <app-etytooltip [word]="'natural'"></app-etytooltip>&nbsp;<app-etytooltip [word]="'selection'"></app-etytooltip>, the basis for 
  <app-etytooltip [word]="'evolution'"></app-etytooltip>.<br>
  &nbsp;&nbsp;&nbsp;&nbsp;The study of the path the sun follows throughout the year is based on four specific days. On the winter 
  <app-etytooltip [word]="'solstace'"></app-etytooltip> (Dec.21), the sun is at its southernmost position of the year. This day has the shortest amount of daylight and the longest nighttime (for the northern hemisphere). From here the Sun begins moving northward every day as the days gradually get longer and the nights shrink as it reaches the spring 
  <app-etytooltip [word]="'equinox'"></app-etytooltip> (Mar. 20). At this point night and day are equal length and the sun reaches the 
  <app-etytooltip [word]="'maximum'"></app-etytooltip>&nbsp;<app-etytooltip [word]="'velocity'"></app-etytooltip> 
  of its annual journey through the sky. The sun is not literally moving. It is (for our purposes) still. The illusion of season is created by the tilt of the earth on its axis coupled with its rotation around the sun. During spring, the northward trajectory of the sun slows until it reaches its stopping point on the summer solstace (Jun. 21). This is the longest day of the year in the northern 
  <app-etytooltip [word]="'hemisphere'"></app-etytooltip>. Then the sun begins creeping back south in the summer months and reaches its greatest speed again on the fall equinox (Sep. 19). On the equinoxes, the sun is perfectly aligned with earth's equator. In fall, the sun continues moving south gradually slowing until it returns to its winter solstace point and restarts its journey.<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Today, our advanced 
  <app-etytooltip [word]="'technology'"></app-etytooltip> 
  allows us to ignore the importance of these day for the most part. With air conditioning and our ability to have out of season food year round, they have become arbitrary. However, to 
  <app-etytooltip [word]="'prehistoric'"></app-etytooltip> 
  people, being able to mark these days of the year was a matter of life and death. The ability to 
  <app-etytooltip [word]="'anticipate'"></app-etytooltip>
   the extreme summer heat and winter cold meant a tribe could better prepare themselves for the harsh conditions and minimize deaths. Knowledge of seasons allowed people to 
   <app-etytooltip [word]="'prognosticate'"></app-etytooltip> which plants would thrive at which time. By understanding the migratory and mating cycles of fish, birds, and beasts, these humans could 
   <app-etytooltip [word]="'predict'"></app-etytooltip> where and how the abundant food could be collected. The survival of early man hinged on their proficiency in deciphering the stars and sun. This is why so many pre-historic sites mark these days. The importance of these days proliferates culturally down to us through the ages. Christmas in winter at the sun's birth, the reproductive 
   <app-etytooltip [word]="'symbology'"></app-etytooltip> of eggs, flowers, bunnies, and baby birds at Easter in spring, and a celebration of death at Holloween in fall are not coincidental. They are all celebrations of their particular season. What some modern people see as an obsession with astrology, to ancient people was a necessity for life's continuation.
</div>
